<header class="app-header">
  <div class="logo">
    <a routerLink="/">MovieLib</a>
  </div>

  <nav class="nav">
    <a routerLink="/" routerLinkActive="active">Home</a>
    <a routerLink="/movies" routerLinkActive="active">Movies</a>
    @if (isLoggedIn()) {
    <a routerLink="/new-movie" routerLinkActive="active">Add Movie</a>
    }
    <a routerLink="/blog" routerLinkActive="active">Blog</a>
    <a routerLink="/favorites" routerLinkActive="active">Favorites</a>
  </nav>
  @if (!isLoggedIn()) {
  <div class="auth-links">
    <a routerLink="/login">Login</a>
    <a routerLink="/register" class="btn-primary">Register</a>
  </div>
  }
  @if (isLoggedIn()) {
  <div class="auth-links">
    <a routerLink="/profile" class="btn-profile">{{ username() }}'s profile</a>
    <button (click)="onLogout()" class="btn-secondary">Logout</button>
  </div>
  }

</header>