<section class="movie-grid">
    <a class="movie-card" >
        <div class="poster-wrapper">
            <div class="poster-skeleton"></div>
            <!-- <img [src]="movie.imageUrl" [alt]="movie.themeName" /> -->
            <span class="movie-subscribers">Subscribers: {{ movie.userId.username }}</span>
        </div>
        <div class="movie-info">
            <h3>Movie: {{ movie.themeName }}</h3>
            <!-- <span class="movie-year">Year: {{ movie.year }}</span> -->
        </div>
    </a>
</section>