<section class="movie-grid">
    <a class="movie-card">
        <div class="movie-info">
            <h3>Movie: {{ movie.themeName }}</h3>
            <!-- <span class="movie-year">Year: {{ movie.year }}</span> -->
        </div>
        <div class="poster-wrapper">
            <div class="poster-skeleton"></div>
            <span class="movie-subscribers">Subscribers: {{ movie.userId.username }}</span>
        </div>
        <div>
            <span class="movie-subscribers">Date: {{ movie.created_at }}</span>
        </div>
    </a>
</section>