<section class="auth-wrapper">
    <div class="auth-card">
        <h1>Login</h1>
        <p class="subtitle">Access your favorites and personalized content.</p>

        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <label>
                Email
                <input appInputError type="email" name="email" required formControlName="email" />
            </label>
            @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
            <p class="error">Please enter a valid email address.</p>
            }
            <label>
                Password
                <input appInputError type="password" name="password" required minlength="6"
                    formControlName="password" />
            </label>

            @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
            <p class="error">Password must be at least 6 characters long.</p>
            }

            @if (loginForm.invalid && loginForm.touched) {
            <p class="error">Please fill in all required fields correctly.</p>
            }

            @if (errMessage) {
            <p class="error">{{ errMessage }}</p>
            }

            <button class="btn-primary full" type="submit" [disabled]="loginForm.invalid || isLoading">
                {{ isLoading ? 'Logging in...' : 'Login' }}
            </button>

            <p class="auth-switch">
                Don't have an account?
                <a routerLink="/register">Register</a>
            </p>
        </form>
    </div>
</section>